{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Reset Password</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('users.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('users.reset_password', token=token) }}">
            {{ form.csrf_token }}
            <div class="field">
                <div class="control">
                    {{ form.password(class="input is-large", placeholder="Password") }}
                    {% for error in form.password.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.confirm_password(class="input is-large", placeholder="Confirm Password") }}
                    {% for error in form.confirm_password.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}